<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>داشبورد دانش آموز کیدکد </title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/img/avatars/logo.png" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="assets/vendor/fonts/boxicons.css" />
    <link href='assets/css/boxicons.min.css' rel='stylesheet'>

    <!-- Core CSS -->
    <link rel="stylesheet" href="assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
</head>

<body dir="rtl">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar  ">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo ">
                    <a href="#" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <img src="./assets/img/avatars/logo.png" width="50px" alt="">
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2"> کیدکد </span>
                    </a>
                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large mr-auto d-block d-xl-none">
                        <i class="bx bx-chevron-right bx-sm align-middle"></i>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item active">
                        <a href="#" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">داشبورد</div>
                        </a>
                    </li>
                    <!-- Layouts -->
                    
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text"> دسترسی سریع </span>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-dock-top"></i>
                            <div data-i18n="Account Settings"> اعضای تیم </div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <div data-i18n="Account"> مربی </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <div data-i18n="Notifications"> بازیکن </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                            <div data-i18n="Authentications"> بازخورد </div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                            <div data-i18n="Misc"> رویداد </div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-box"></i>
                            <div data-i18n="Misc"> برنامه  </div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-crown"></i>
                            <div data-i18n="Misc"> امتیاز های گذشته </div>
                        </a>
                    </li>
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">متفرقه</span></li>
                    <li class="menu-item">
                        <a href="#" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-file"></i>
                            <div data-i18n="Support"> ارسال پروزه </div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-file"></i>
                            <div data-i18n="Documentation">مستندات</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-detail"></i>
                            <div data-i18n="Form"> فرم نظرات و انتقادات  </div>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text" class="form-control border-0 shadow-none" placeholder="جستجو..." aria-label="Search...">
                            </div>
                        </div>
                        <!-- /Search -->
                        <ul class="navbar-nav flex-row align-items-center mr-auto f-ir">
                          
                            <li class="nav-item lh-1 me-3 f-ir">
                                <a class="f-ir" href="#"> <i class="bx bx-star fs-4 lh-0"></i> نوع : فردی </a>
                            </li>
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatars/1029.webp" alt class="w-px-40 h-auto rounded-circle border-my">
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end new-style-13">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="assets/img/avatars/1029.webp" alt class="w-px-40 h-auto rounded-circle border-my">
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">  محمد طاها نعمتی فرد </span>
                                                    <small class="text-muted"> فردی </small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="./pages-account-settings-account.html">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">پروفایل من</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="./pages-account-settings-account.html">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">تنظیمات</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="d-flex align-items-center align-middle">
                                                <i class="bx bx-bell me-1"></i>
                                        <span class="flex-grow-1 align-middle"> اعلان ها </span>
                                            <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="d-flex align-items-center align-middle">
                                                <i class="bx bx-link-alt me-1"></i>
                                        <span class="flex-grow-1 align-middle"> گروه بندی  </span>
                                            <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20"> جدید </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="auth-login-basic.html">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">خروج</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4">
                            <span class="text-muted fw-light"> داشبورد / </span> گروه بندی
                        </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                                    <ul class="nav nav-pills flex-column flex-md-row mb-3">
                                        <li class="nav-item"><a class="nav-link " href="#"><i class="bx bx-user me-1"></i> حساب</a></li>
                                        <li class="nav-item"><a class="nav-link" href="./page-account-allert.html"><i class="bx bx-bell me-1"></i> اعلان ها </a></li>
                                        <li class="nav-item"><a class="nav-link active" href=""><i class="bx bx-link-alt me-1"></i> گروه بندی </a></li>
                                    </ul>
                                </ul>
                                <div class="row">
                                   
                                    <div class="col-md-12 col-12">
                                        <div class="card">
                                            <h5 class="card-header"> هم گروهی ها گروه شاهین</h5>
                                            <div class="card-body">
                                                <p>  هم گروهی های خود را مشاهده کنید  </p>
                                                <!-- Social Accounts -->
                                                <div class="d-flex mb-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="assets/img/avatars/1.png" alt="facebook" class="me-3 rounded" height="30">
                                                    </div>
                                                    <div class="flex-grow-1 row">
                                                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                                            <h6 class="mb-0"> علی رضایی </h6>
                                                            <small class="text-muted"> متصل است </small>
                                                        </div>
                                                        <div class="col-4 col-sm-5 text-end">
                                                            <button type="button" class="btn btn-icon btn-outline-danger">
                                                           
                                                                <i class='bx bx-trash-alt'></i>
                                                           
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex mb-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="assets/img/avatars/1.png" alt="twitter" class="me-3 rounded" height="30">
                                                    </div>
                                                    <div class="flex-grow-1 row">
                                                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                                            <h6 class="mb-0"> محمد طاها نعمتی فرد </h6>
                                                            <span class="text-muted">(شما) </span>
                                                        </div>
                                                        <div class="col-4 col-sm-5 text-end">
                                                            <button type="button" class="btn btn-icon btn-outline-danger">
                                                            <i class='bx bx-trash-alt'></i>
                                                        </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex mb-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="./assets/img/avatars/1.png" alt="instagram" class="me-3 rounded" height="30">
                                                    </div>
                                                    <div class="flex-grow-1 row">
                                                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                                            <h6 class="mb-0"> محمد حیدری </h6>
                                                            <small class="text-muted"> متصل است </small>
                                                        </div>
                                                        <div class="col-4 col-sm-5 text-end">
                                                            <button type="button" class="btn btn-icon btn-outline-danger">
                                                            <i class='bx bx-trash-alt'></i>
                                                        </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex mb-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="./assets/img/avatars/1.png" alt="dribbble" class="me-3 rounded" height="30">
                                                    </div>
                                                    <div class="flex-grow-1 row">
                                                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                                            <h6 class="mb-0"> صادق صادقی </h6>
                                                            <small class="text-muted">متصل است</small>
                                                        </div>
                                                        <div class="col-4 col-sm-5 text-end">
                                                            <button type="button" class="btn btn-icon btn-outline-danger">
                                                                <i class='bx bx-trash-alt'></i>
                                                        </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0">
                                                        <img src="./assets/img/avatars/1.png" alt="behance" class="me-3 rounded" height="30">
                                                    </div>
                                                    <div class="flex-grow-1 row">
                                                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                                            <h6 class="mb-0"> مسیح سبحانی </h6>
                                                            <small class="text-muted">متصل است</small>
                                                        </div>
                                                        <div class="col-4 col-sm-5 text-end">
                                                            <button type="button" class="btn btn-icon btn-outline-danger">
                                                                <i class='bx bx-trash-alt'></i>
                                                        </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Social Accounts -->
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <hr>
                                
                                <div class="mt-4">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ساخته شده توسط <a href="#" target="_blank" class="footer-link fw-bolder"> نعمتی </a>
                            </div>
                        </div>
                    </footer>
                    <!-- / Footer -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <script src="assets/vendor/libs/jquery/jquery.js"></script>
    <script src="assets/vendor/libs/popper/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="assets/vendor/js/menu.js"></script>
    <script src="assets/vendor/js/helpers.js"></script>
    <script src="assets/js/config.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/vendor/js/buttons.js"></script>
</body>

</html>